#pmc_options, #pmc_alloptions, #pmc_idoptions, #pubmed_options, #pubmed_alloptions, #pubmed_idoptions, #freetext_options, #pdf_options{
	display: none;
}

#accordion-results .card{
	margin-top: 25px;
}

#accordion-results .card .collapse{
	padding: 10px;
}
	
.container .row{
	padding: .5em 0;
}
	
#graph {
	width: 100%;
	height: 700px;
	margin: auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
	
.results-container, .results-message, .results-error{
	display: none;
}

#results, #net{
	display: none;
	width: 100%;
}

#accordion{
	width: 100%;
}

#log{
	top: calc(50vh + 150px);
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	color: #009eff;
}

.loader{
	background-image: url(../img/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	background-color: rgba(255, 255, 225, 0.63);
	z-index: 999;
	display: none;
}

.hidenode, .hidecat{
	cursor: pointer;
}

.hidecat{
	float: left;
    margin: 2px 5px;
}

.slidecontainer {
	width: 100%; /* Width of the outside container */
}

.card-header{
	cursor: pointer;
}

.annotations-list, .graph-list{
	height: 250px;
	overflow-y: auto;
	padding: 5px;
}

.annotations-list table, .graph-list table{
	width: auto;
	
}

.annotations-list table td, .annotations-list table th, 
.graph-list table td, .graph-list table th{
	padding: 5px;
	font-size: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
}

.bio-edge-1{
	background: #99ffbb;
}

.bio-edge-2{
	background: #f99;
}


/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 10px; /* Specified height */
	border-radius: 5px;
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 15px; /* Set a specific slider handle width */
	height: 15px; /* Slider handle height */
	border-radius: 50%;
	background: #007bff; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 15px; /* Set a specific slider handle width */
	height: 15px; /* Slider handle height */
	border-radius: 50%;
	background: #007bff; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
.legend .legend-scale .legend-labels {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	float: left;
	list-style: none;
}
.legend .legend-scale .legend-labels div {
	font-size: 80%;
	list-style: none;
	margin-left: 0;
	line-height: 15px;
	margin-bottom: 2px;
	white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.legend .legend-labels div span {
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 0;
	border: 1px solid #999;
}
.legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}
.legend a {
	color: #777;
}

.highlight {
    background-color: yellow;
}

.log-container{
	white-space: pre-line;
	padding: 1em;
	border: 0.15em solid #ccc;
	background: #000;
	color: #4caf50;
	border-radius: 0.25em;
	display: none;
	background-image: url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-size: 2em;
	background-position-y: calc(100% - 1em);
	height: 40vh;
    overflow-y: scroll;
}

/*Mod datatables*/
div.dataTables_wrapper div.dataTables_filter {
    text-align: none;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal!important;
    white-space: nowrap!important;
    text-align: left!important;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0!important;
    display: block!important;
    width: 100%!important;
}

div.dataTables_wrapper td{
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}



div.select-source .source .button{
    cursor: pointer;
}

.my-shadow{
	text-shadow: 10px 10px 105px #007bff;
}